/*********************
* Fixed footer boilerplate
* *******************/
$footer-selector: ".site-footer";
$footer-height: 60px;

html {
  position: relative;
  min-height: 100vh;
}

body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
}

#{$footer-selector} {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
  line-height: $footer-height; /* Vertically center the text there */
  background-color: #f5f5f5;
  margin: auto -15px;
  padding: 0 1rem;

  p {
    margin: 0;
  }
}
